---
import dayjs from 'dayjs';
import path from 'node:path';
import Layout from '../layout/Layout.astro';
import GoBackButton from '../components/GoBackButton.astro';
import Link from '../components/Link.astro';
import simpleGit, { type DefaultLogFields, type ListLogLine } from 'simple-git';
import { linkToMyRepo } from '../utils/links.ts';

type GitLogCommit = DefaultLogFields & ListLogLine;

interface Props {
  lastCommit: GitLogCommit | null;
}

export async function getStaticPaths() {
  const git = simpleGit();
  let lastCommit: GitLogCommit | null = null;
  const file = path.join(process.cwd(), 'src', 'pages', 'now.astro');

  try {
    const log = await git.log({ file });
    lastCommit = log.latest;
  } catch (err) {
    console.error(err);
  }

  return {
    props: { lastCommit },
  };
}

const { lastCommit } = Astro.props;
---

<Layout>
  <GoBackButton />
  <section>
    <h1>Now</h1>
    <p>Last update: {dayjs(lastCommit?.date).format('YYYY-MM-DD HH:mm')}</p>
  </section>
  <section>
    <p>
      I'm currently working as an intern software engineer at <Link
        href='https://www.sydle.com/'>SYDLE</Link
      >
      and finishing my bachelor's degree in Computer Science at <Link
        href='https://ufla.br/'>UFLA</Link
      >.
    </p>
  </section>
  <article>
    <section>
      <h2>What am I coding?</h2>
      <p>Creating an URL shortener service using SpringBoot and AWS.</p>
      <p>
        I'm studying back-end development with Java & Spring and cloud computing
        with AWS.
      </p>
      <p>
        I'm also maintaining this blog and creating a writing habit.
      </p>
    </section>
    <section>
      <h2>What are my current interests?</h2>
      <p>
        I'm currently interested in learning more about the following topics:
        <ul>
          <li>Software Engineering focused on back-end</li>
          <li>System Design</li>
          <li>Java & Spring ecosystem</li>
          <li>AWS ecosystem</li>
          <li>Data Structures (focused on LeetCode questions)</li>
        </ul>
      </p>
    </section>

    <style>
      article {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2x);
      }

      article section {
        display: flex;
        flex-direction: column;
        gap: var(--spacing);
      }

      li {
        list-style-type: disc;
        margin-left: var(--spacing-2x);
      }
    </style>
  </article>
</Layout>
